;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[re-frame "0.10.9"]]

 :nrepl {:port 9620}

 :builds
 {:browser
  {:target :browser
   :output-dir "public/assets/rucktar/js"
   :asset-path "/assets/rucktar/js"
   :build-options {:manifest-name "manifest.json"}
   :modules {:main {:init-fn rucktar.core/init}}
   :devtools {:http-root "public"
              :http-port 9640}}}}
